# Dependencies
node_modules/
.pnpm-store/

# Production & Build output
dist/
dist-ssr/
build/
web-build/

# Expo
.expo/

# Environment variables
.env
.env*.local
!.env.example

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
